
<section>
	<div class="container">
      <div class="container ">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
             <div  >
             	<br><br><br>
                <h2 align="left" > ¿Quiénes somos?</h2>
              </div>
            <p><strong>Cápara Sonia</strong> es una pequeña empresa que se dedica a consentir a tu mascota a través de productos de calidad que aportan gran felicidad para ellos, además, a diferencia de otros productos en el meracado <strong><i>Cápara Sonia</i></strong> son productos de calidad a bajo costo.</p>
            <p>Te invitamos a que conozcas nuestros productos y si tienes alguna duda nos consultes a través del formulario.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="vertical-align: center;">
            <br><br>
             <img id="" src="images/nosotros.jpg" width="100%" height="responsive" class="padding">
          </div>
        </div>
      </div>
	</div>
</section>

<section style="background-image: url(../images/madera.jpg)">
	<h2 align="center" class="blanco">Conoce más de nosotros</h2>
	<p align="center" class="blanco">En <strong>Caparasonia</strong> nos especializamos en los pequeños animales de tu hogar, encontrarás productos de calidad al mejor costo, te invitamos a que conozcas todos nuestros productos</p>
	<div class="container">
	  <div class="row">	
	  	<div class="col-4">
			<div class="card" style="width: 18rem;">
			  <img src="images/fondo3.jpg" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Tortugas</h5>
			    <p class="card-text">Compra los mejores accesorios y alimentos para que tuss tortugas tengan un lugar agradable.</p>
			    <a href="/producto/list" class="btn btn-primary">Comprar aquí</a>
			  </div>
			</div>
		 </div>
		 <div class="col-4">
		 	<div class="card" style="width: 18rem;">
			  <img src="images/fondo1.jpg" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Perros</h5>
			    <p class="card-text">Encuentra los mejores accesorios, premios, y alimento para los pequeños peludos de la casa.</p>
			    <a href="/producto/list" class="btn btn-primary">Comprar aquí</a>
			  </div>
			</div>	
		 </div>
		 <div class="col-4">
		 	<div class="card" style="width: 18rem;">
			  <img src="images/fondo2.jpg" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Gato</h5>
			    <p class="card-text">Encuentra todo para tu mejor amigo gato, desde accesorios hasta alimento.</p>
			    <a href="/producto/list" class="btn btn-primary">Comprar aquí</a>
			  </div>
			</div>	
		 </div>			
	</div>  
</div>
<center><a align="center" href="/producto/list">Conoce nuestros productos</a></center>
</section>


<script type="">
      $('body').scrollspy({ target: '#navbar-example' })
    </script>